<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="container bg-white">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top flex-bottom">
        <p class="col-md-4 mb-0 text-muted">@Work2Gether</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img th:src="@{/images/logo_piccolo.png}" width="100" height="50">
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a th:href="@{/faq}" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a th:href="@{/about}" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>