<!DOCTYPE HTML>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="search-filter.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

<div th:replace="~{navbar :: navbar}"></div>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Ciao <span th:text="${utente?.getNickname()}"/>&nbsp;!</h1>
            </div>
        </div>
    </section>

    <!--Dashboard Cards-->
    <section class="py-5 center container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img th:src="@{/images/dashboard1.png}"
                         class="card-img-top" alt="dashboard1" height="">
                    <div class="card-body">
                        <h5 class="card-title">Tutte le Domande</h5>

                        <!--list group per le domande-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:each="domanda: ${domandeTutte}">
                                <span th:text="${domanda?.getTitolo()}"></span>
                            </li>
                        </ul>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a th:href="@{/domande/elencoTutteDomande}" class="btn btn-primary">Vai a..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img th:src="@{/images/dashboard2.jpg}"
                         class="card-img-top" alt="dashboard2" height="">
                    <div class="card-body">
                        <h5 class="card-title">Le tue Ultime Domande</h5>

                        <!--list group per le domande-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:each="domanda: ${domandeMie}">
                                <span th:text="${domanda?.getTitolo()}"></span>
                            </li>
                        </ul>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a th:href="@{/domande/elencoMieDomande}" class="btn btn-primary">Vai a..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img th:src="@{/images/dashboard3.jpg}"
                         class="card-img-top" alt="dashboard3" height="">
                    <div class="card-body">
                        <h5 class="card-title">I miei Preventivi</h5>

                        <!--list group per i preventivi-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:each="preventivo: ${preventivi}">
                                <span th:text="${preventivo?.getDomanda().getTitolo()}"></span>
                                <span class="ms-5">[P: <span th:text="${preventivo?.getPrezzo()}"></span>
                                 ]</span>
                            </li>
                        </ul>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a th:href="@{/preventivi/elencoMieiPreventivi}" class="btn btn-primary">Vai a..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img th:src="@{/images/dashboard4.jpg}"
                         class="card-img-top" alt="dashboard4" height="">
                    <div class="card-body">
                        <h5 class="card-title">Le Ultime Risposte</h5>

                        <!--list group per le risposte-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:each="risposta: ${risposte}">
                                <span th:text="${risposta.key.getTitolo()}"></span>
                                <span>  --  </span>
                                <span th:if="${risposta.value instanceof T(it.work2gether.quickAnswer.entity.RispostaTesto)}"
                                      th:text="${risposta.value.getTesto()}">
                                </span>
                                <span th:if="${risposta.value instanceof T(it.work2gether.quickAnswer.entity.RispostaVideo)}"
                                      th:text="${risposta.value.getVideo()}">
                                </span>
                            </li>
                        </ul>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a th:href="@{/risposte/elencoRisposte}" class="btn btn-primary">Vai a..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<div th:replace="~{footer :: footer}"></div>

<form th:action="@{/process-logout}" th:hidden="true" name="logoutForm" method="post">
    <input type="submit" value="Logout"/>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>

</html>